.prettierrc
.travis.yml
coverage/
yarn.lock
examples
.babelrc
.gitignore
webpack.config.js
webpack-dev.config.js
src
dist/__tests__
dist/app.html
dist/app.js
dist/styles/app.css
dist/components/HeatMap.ts